<%- include('../layoutHeader.ejs') -%>

    <section style="background-color: #e7e0d8; height: 100vh;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-sm-10 col-md-8 col-xl-6 ">
                    <div class="card" style="border-radius: 1rem">
                        <div class="row g-0">
                            <div class=" d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form action="/emailVarification" method="POST">
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <span class="h2 fw-bold mb-0">OTP</span>
                                        </div>
                                        
                                        <div class="form-outline mb-4">
                                            <input type="email" id="form2Example17" name="email" value="<%= email %>"
                                                class="form-control form-control-lg" readonly>
                                            <label class="form-label" for="form2Example17">Email address</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" name="otp" id="form2Example27"
                                                class="form-control form-control-lg" required />
                                                <label class="form-label" for="form2Example27">Enter OTP</label>    
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Submit</button>
                                    </form>
                                </div>

                                <form action="/resend" method="post">
                                    <button class="small text-muted " style="border: none;background-color: white;" onclick="alert('Please check your email, we will resend the OTP.')">Didn't get an OTP? Resend.</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <%- include('../layoutFooter.ejs') -%>