<%- include('../layoutHeader.ejs') -%>

<h2>hello user...</h2>

<% if(!login){ %>
<a href="/login">Login</a>
<a href="/signup">Signup</a>
<% } %>

<% if(login){ %>
<form action="/logout" method="post">
    <button type="submit">logout</button>
</form>
<% } %>
