<header>
  <!-- Header desktop -->
  <div class="container-menu-desktop">
    <!-- Topbar -->
    <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container">
        <div class="left-top-bar">
          Free shipping for standard order over ₹500.
        </div>

        <div class="right-top-bar flex-w h-full">

          <a href="/signin" class="flex-c-m trans-04 p-lr-25">Sign in</a>

          <a href="/signup" class="flex-c-m trans-04 p-lr-25">Sign up</a>

        </div>
      </div>
    </div>

    <div class="wrap-menu-desktop">
      <nav class="limiter-menu-desktop container">
        <!-- Logo desktop -->
        <a href="/" class="logo">
          <img src="/public/admin/img/favicon/favicon.ico" alt="IMG-LOGO" />
          <h2 style="color: #566a7f; font-weight: bold">ride.</h2>
        </a>

        <!-- Menu desktop -->
        <div class="menu-desktop">
          <ul class="main-menu">
            <li class="active-menu">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/shop">Shop</a>
            </li>
            <li>
              <a href="/bikes">Bikes</a>
            </li>

            <li>
              <a href="/accessories">Accessories</a>
            </li>

            <li>
              <a href="/gadgets">Gadgets</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <!-- Header Mobile -->
  <div class="wrap-header-mobile">
    <!-- Logo moblie -->
    <div class="logo-mobile">
      <a href="/"><img src="/public/admin/img/favicon/favicon.ico" alt="IMG-LOGO" /></a>
    </div>

    <!-- Button show menu -->
    <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
  </div>

  <!-- Menu Mobile -->
  <div class="menu-mobile">
    <ul class="main-menu-m">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/shop">Shop</a>
      </li>
      <li>
        <a href="/bikes">Bikes</a>
      </li>

      <li>
        <a href="/accessories">Accessories</a>
      </li>

      <li>
        <a href="/gadgets">Gadgets</a>
      </li>
      <li>
        <a href="/signin">Signin</a>
      </li>
    </ul>
  </div>
</header>