<div class="top-bar">
    <div class="content-topbar flex-sb-m h-full container">
      <div class="left-top-bar">
        Free shipping for standard order over $5000
      </div>

      <div class="right-top-bar flex-w h-full">
        <% if(!login){ %>
        <a href="/login" class="flex-c-m trans-04 p-lr-25">Sign in</a>

        <a href="/signup" class="flex-c-m trans-04 p-lr-25">Sign up</a>
        <% }else{ %>

        <form action="/logout" method="post">
          <button
            class="flex-c-m trans-04 p-lr-25"
            type="submit"
            style="color: grey; margin: 10px"
          >
            Logout
          </button>
        </form>

        <% } %>
      </div>
    </div>
  </div>