<!-- Wishlist -->
<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Wishlist
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
        <% if(wishlistItems.length==0){ %>
            <div class="text-center">
              <img src="public\images\Wishlist.gif" alt="empty-wishlist">
            </div>  
        <% }else{ %>
        <div class="header-cart-content flex-w js-pscroll">
            <ul class="header-cart-wrapitem w-full">
                <% wishlistItems.forEach(function(product){ %> 
                <li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <img src="/<%= product.imageUrl[0] %> " alt="IMG" style="height: 80px; width:60px; object-fit:cover" >
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="/product_details/<%=product._id %>" class="header-cart-item-name hov-cl1 trans-04">
                            <%= product.productName %>
                        </a>

                        <span class="header-cart-item-info">
                            <%=product.price%>
                        </span>
                        <button><span class="material-symbols-outlined text-success">
                            add_shopping_cart
                            </span></button>
                    </div>
                </li>
                <% }) %> 
            </ul>
        </div>
        <% } %> 
    </div>
</div>

