<!DOCTYPE html >
<html lang="en">

<head>
  <title>ride.</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--===============================================================================================-->
  <link rel="icon" type="image/x-icon" href="../public/admin/img/favicon/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/vendor/bootstrap/css/bootstrap.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/fonts/iconic/css/material-design-iconic-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/fonts/linearicons-v1.0.0/icon-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/vendor/animate/animate.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/vendor/css-hamburgers/hamburgers.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/vendor/animsition/css/animsition.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/vendor/select2/select2.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/vendor/daterangepicker/daterangepicker.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/vendor/slick/slick.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/vendor/MagnificPopup/magnific-popup.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/vendor/perfect-scrollbar/perfect-scrollbar.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/users/css/util.css" />
  <link rel="stylesheet" type="text/css" href="/public/users/css/main.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <!-- =============gooogle icons ============= -->
  <link rel="stylesheet" href="/public/styles/style.css" />

  <!-- ============== Search field style =============-->

  <!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body class="animsition">
  <!-- Header -->
<style>
  html{
    scroll-behavior: smooth;
  }
</style>
  <% if(login){ -%>
    <%- include('./userViews/navbar-login.ejs') -%>
      <% }else{ %>
        <%- include('./userViews/navbar-not-login.ejs') -%>
          <% } %>

            